.task-info
  = form_with model: [@group, @task], html: {class: "Form"}, local: true do |form|
    %p タスク入力
    = form.text_field :task, placeholder: "タスク内容", class: 'form-text'
    = form.text_area :detalis, placeholder: "締め切り日/概要", class: 'textarea', class: 'form-detalis'
    = form.submit "タスク追加", class: 'form-submit'

.task-content
  .task-name
    %p タスク一覧
    %input{:type => "date"}
  

.task-complete
  %p 完了タスク