.Task-edit
  .task
    %p.dailytask-name タスクの編集
    = form_with(url: task_path, local: true, method: :PATCH) do |form|
      .text 
        = form.text_field :task, placeholder: "タスクの編集", class: 'content'
      .textarea 
        = form.text_area :detalis, placeholder: "締め切り日/概要", class: 'area'
      = form.submit "編集完了", class: 'button'