.Task-edit
  .task
    %h3.dailytask-name タスクの編集
    = form_with(url: task_path, local: true, method: :PATCH) do |form|
      .text 
        = form.text_field :task, placeholder: "タスクを追加する"
      .textarea 
        = form.text_area :detalis, placeholder: "締め切り日/概要"
        = form.submit "追加", class: 'button'