%header.header
  %h1.header__name ToDo App
  %ul
    %li.heder__info
      name:
      = current_user.name
      %ul
        %li
          %a{href: user_path(current_user)} マイページ
        %li
          %a{href: "/groups/new"} グループ作成
        %li
          %a{href: edit_user_path(current_user)} アカウント編集

.Task
  = render 'tasks/task-group'
  = render 'tasks/main'
    

%footer
  %p Copyright ToDoアプリ 2020.